<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>20867346272-oqcg89j7dqc9dh4pnjd7bino742e0dai.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.20867346272-oqcg89j7dqc9dh4pnjd7bino742e0dai</string>
	<key>API_KEY</key>
	<string>AIzaSyBb-9BLmhOI5Pa3MFIl6xSJfURM1nXcBrU</string>
	<key>GCM_SENDER_ID</key>
	<string>20867346272</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AK.-0-AlexChat</string>
	<key>PROJECT_ID</key>
	<string>alexchat-ae7b9</string>
	<key>STORAGE_BUCKET</key>
	<string>alexchat-ae7b9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:20867346272:ios:b4e3780ca046680c</string>
	<key>DATABASE_URL</key>
	<string>https://alexchat-ae7b9.firebaseio.com</string>
</dict>
</plist>